/* Navbar */

/* .navbar-nav li a:hover {
    color: #c70039;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link.active {
    color: #c70039;
} */

/* Navbar End */

#btn-back-to-top {
    position: fixed;
    display: none;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.font-roboto-flex {
    font-family: 'Roboto Flex', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}



